pin-depends: [
  ["camllib.1.4.0" "git+https://github.com/paulraunite/camllib"]
  ["bddapron.2.5.0" "git+https://github.com/paulraunite/bddapron"]
  ["vpl-core.0.6" "git+https://github.com/PaulRaUnite/VPL"]
  ["mlcuddidl.3.0.9" "git+https://github.com/PaulRaUnite/mlcuddidl"]
  ["bitvectorset.0.1.0" "git+https://github.com/PaulRaUnite/bitvectorset"]
  ["fast_bitvector.0.0.5" "git+https://github.com/PaulRaUnite/fast_bitvector"]
  ["owl.1.2" "git+https://github.com/owlbarn/owl"]
]